<a href="https://colab.research.google.com/github/vinajuliet/python_for_data_scients/blob/main/Salinan_dari_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**@create By : Dede Brahma Arianto S.Kom., M.Kom**

# Loop Python

## String Formatting

In [ ]:
#@title Add Variable

nama = "John"
umur = 25

print("Nama saya {}, dan umur saya {} tahun".format(nama, umur))

Nama saya John, dan umur saya 25 tahun

In [ ]:
#@title f-string

nama = "John"
umur = 25

print(f"Nama saya {nama}, dan umur saya {umur} tahun")

Nama saya John, dan umur saya 25 tahun

In [ ]:
#@title Print Argument

nama = "John"
umur = 25
print("Nama saya", nama, "dan umur saya", umur, "tahun", sep=", ", end=".\n")

Nama saya, John, dan umur saya, 25, tahun.

In [ ]:
#@title str.format_map()

data = {"nama": "John", "umur": 25}
print("Nama saya {nama}, dan umur saya {umur} tahun".format_map(data))

Nama saya John, dan umur saya 25 tahun

In [ ]:
#@title operator % (regular expression/regex)

nama = "John"
jk = "laki-laki"
umur = 25
tinggi = 173

print("Nama saya %s, dan umur saya %d tahun, saya seorang %s dan tinggi saya %d" % (nama, umur, jk, tinggi))

Nama saya John, dan umur saya 25 tahun, saya seorang laki-laki dan tinggi saya 173

## Looping (Perulangan)

In [ ]:
#@title While

hitung = 1

while hitung <= 10:
    print(hitung)
    hitung = hitung + 2
    # hitung += 2

1
3
5
7
9

In [ ]:
hitung = 1

while hitung <= 10:
    print(f"Perulangan ke-{hitung}")
    hitung += 1

Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9
Perulangan ke-10

In [ ]:
jawab = 'ya'
hitung = 0

while(jawab == 'ya'):
    hitung += 1
    jawab = input("Ulang lagi tidak? ")

print(f"Total perulangan: {hitung}")

Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? tidak
Total perulangan: 5

In [ ]:
#@title While dengan IF

hitung = 1
n = int(input("Masukkan nilai lebih dari 0: "))

while hitung <= n:
    if hitung % 2 == 0:
        print(f"Bilangan {hitung} Genap")
        hitung += 1
    else:
        print(f"Bilangan {hitung} Ganjil")
        hitung += 1

Masukkan nilai lebih dari 0: 5
Bilangan 1 Ganjil
Bilangan 2 Genap
Bilangan 3 Ganjil
Bilangan 4 Genap
Bilangan 5 Ganjil

In [ ]:
#@title For

fruits = ["apple", "banana", "cherry", "semangka"]

for z in fruits:
    print(z)

apple
banana
cherry
semangka

In [ ]:
buah = ["apple", "banana", "cherry"]

for item in buah:
    print("Item buah saat ini : %s" % item)

Item buah saat ini : apple
Item buah saat ini : banana
Item buah saat ini : cherry

In [ ]:
text = "Halo "

for char in text:
	print(char)

H
a
l
o

### For Range

Fungsi 'range(n)' akan menghasilkan deret angka mulai dari 0 sampai 'n - 1'

In [ ]:
# default start 0

for i in range(8):
	print(i)

0
1
2
3
4
5
6
7

Fungsi 'range()' juga dapat digunakan dengan dua atau tiga argumen.

Misalnya, 'range(start, stop)' akan menghasilkan angka mulai dari 'start' hingga 'stop - 1'.

In [ ]:
for i in range(2, 5):
	print(i)

2
3
4

'range(start, stop, step)' akan menghasilkan angka mulai dari 'start', meningkat dengan 'step' di setiap langkah, dan berhenti sebelum 'stop'.

In [ ]:
for i in range(1, 20, 3):
	print(i)

1
4
7
10
13
16
19

### For Break

In [ ]:
for i in range(10):
  print(i)
  if i == 7:
	  break

0
1
2
3
4
5
6
7

In [ ]:
for i in range (10):
  print(i)
  if i == 5:
    print("Nilai i sudah sama dengan 5")
    continue

0
1
2
3
4
5
Nilai i sudah sama dengan 5
6
7
8
9

### For Else

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]

for item in listKota:
  print(item)
else:
  print('Tidak ada lagi item yang tersisa')

Jakarta
Surabaya
Depok
Bekasi
Solo
Jogjakarta
Semarang
Makassar
Tidak ada lagi item yang tersisa

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]
for index , item in enumerate(listKota):
  print(index, item)

0 Jakarta
1 Surabaya
2 Depok
3 Bekasi
4 Solo
5 Jogjakarta
6 Semarang
7 Makassar

In [ ]:
listKota = [
  'Jakarta', 'Surabaya', 'Depok', 'Bekasi', 'Solo',
  'Jogjakarta', 'Semarang', 'Makassar'
]

kotaYangDicari = input('Ketik nama kota yang kamu cari: ')

for index, item in enumerate(listKota):
  if item.lower() == kotaYangDicari.lower():
    print('Kota yang anda cari berada pada indeks', index)
    break
else:
  print('Maaf, kota yang anda cari tidak ada')

Ketik nama kota yang kamu cari: surabaya
Kota yang anda cari berada pada indeks 1

In [ ]:
fruit = ["apel", "jeruk", "semangka"]

for index, item_buah in enumerate(fruit):
  print(index)
  print(item_buah)

0
apel
1
jeruk
2
semangka

### Nested Loop

In [ ]:
for baris in range(1, 6):
    for kolom in range(1, 6):
        print(f"Baris{baris}, Kolom{kolom}")

Baris1, Kolom1
Baris1, Kolom2
Baris1, Kolom3
Baris1, Kolom4
Baris1, Kolom5
Baris2, Kolom1
Baris2, Kolom2
Baris2, Kolom3
Baris2, Kolom4
Baris2, Kolom5
Baris3, Kolom1
Baris3, Kolom2
Baris3, Kolom3
Baris3, Kolom4
Baris3, Kolom5
Baris4, Kolom1
Baris4, Kolom2
Baris4, Kolom3
Baris4, Kolom4
Baris4, Kolom5
Baris5, Kolom1
Baris5, Kolom2
Baris5, Kolom3
Baris5, Kolom4
Baris5, Kolom5

### Reverse Loop

In [ ]:
# range(start, end, step)
# range(default =0, end)

n = 6

for num in reversed(range(n+1)):
  print(num, end=" ")

6 5 4 3 2 1 0

In [ ]:
# menggunakan fungsi reversed
N = 6

print ("Hasil reverse : ", end = " ")
for num in reversed(range(N + 1)) :
    print(num, end = " ")

Hasil reverse :  6 5 4 3 2 1 0

In [ ]:
# tanpa menggunakan fungsi reversed
N = 6

print ("Hasil reverse : ", end = "")
for num in range(N, -1, -1) :
    print(num, end = " ")

Hasil reverse : 6 5 4 3 2 1 0

In [ ]:
# menggunakan while
N = 6

print("Hasil reverse : ", end='')
while(N >= 0):
    print(N, end=' ')
    N -= 1

Hasil reverse : 6 5 4 3 2 1 0

## Soal 1

Buatlah script yang dapat memberikan output berupa pola segitiga siku-siku berdasarkan jumlah bintang yang diinput. Sebagai contoh:

Input:

Masukkan tinggi segitiga: 5

Output:

![image.png]()

## Soal 2

Buatlah script yang dapat memberikan output seperti gambar dibawah ini

Output:

![image.png]()

## Soal 3

* Buat contoh while yang didalamnya terdapat if-elif-else
* Buat Nested loop yang didalamnya terdapat if-else